body {
    font-family: sans-serif; 
    color: #767689; 
}

H3 {
    font-family: sans-serif; 
    color: #767689; 
}

select {
    font-size: 17px; 
    color: #767689; 
}

option {
    font-size: 17px; 
}

text {
    font-family: sans-serif; 
    color: #767689; 
}
